.vscode
.metadata

/Nucleo_Blink/*
/uart_transmit/*
/baremetal_blink/*


!/Nucleo_Blink/Core
!/uart_transmit/Core
!/baremetal_blink/Core


/Nucleo_Blink/Core/*
!/Nucleo_Blink/Core/Src


/uart_transmit/Core/*
!/uart_transmit/Core/Src


/baremetal_blink/Core/*
!/baremetal_blink/Core/Src

/platformio/toggle_led/*/README

/platformio/blink_systick/*/README


platformio/uart_transmit/*/README


platformio/uart_transmit_interrupt/*/README


platformio/spi_accelerometer/*/README


/basys3/**

!basys3/constraint_file/
!/basys3/constraint_file/constraint_file.srcs/
!/basys3/constraint_file/constraint_file.srcs/constrs_1/
!/basys3/constraint_file/constraint_file.srcs/constrs_1/new/
!/basys3/constraint_file/constraint_file.srcs/constrs_1/new/*.xdc

!/basys3/clock_generation/
!/basys3/clock_generation/README.md
!/basys3/clock_generation/block_Diagram.png
!/basys3/clock_generation/clock_generation.srcs/
!/basys3/clock_generation/clock_generation.srcs/**

!/basys3/SPI_bit_bang/
!/basys3/SPI_bit_bang/README.md
!/basys3/SPI_bit_bang/block_Diagram.png
!/basys3/SPI_bit_bang/SPI_bit_bang.srcs/
!/basys3/SPI_bit_bang/SPI_bit_bang.srcs/**
*.dcp
